<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.TaskMapper">
    <select id="getTask" parameterType="java.lang.Integer" resultType="com.mybatis.model.TTask">
        SELECT ID,TITLE,CONTEXT,NOTE FROM t_task where ID = #{id}
    </select>
</mapper>